*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
} 
section{
    padding: 0 10px;
}

/* nav */
.navbar.navbar{
    background: transparent !important;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-top: 15px;
  padding: 20px;
}
.navbar-brand{
    font-size: 30px!important;
    color: #c9c2bb !important;
}
.navbar {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.navbar-transparent .nav-link,
.navbar-transparent .navbar-brand,
.navbar-transparent .bi {
  color: #2b2b2b !important;
}
.navbar .nav-link{
    

    color: #fff!important;

    font-size: 18px;
    font-weight: 15px;
    position: relative;
}
.navbar .nav-link:hover{
  color: #916a50 !important;
}

.nav-item{
    color: #fff !important;
}
/* Dropdown */
.dropdown-menu {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
}
.dropdown-item {
  font-size: 14px;
  padding: 10px 20px;
  transition: 0.3s;
}

.dropdown-item:hover {
  background: transparent;
  color: #a67c6d;
}
.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
}
.navbar .nav-link.dropdown-toggle::after {
  display: none !important;
}

/* hero section */
.carousel-item{
    height: 100vh !important;
    position: relative;
}
.carousel-item::before {
     content: "";
    position: absolute;
     inset: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.05)
    );
}
.carousel-item img{
    background-position: cover !important;
    object-fit: cover !important;
    object-position: center;
}

.hero .carousel-item{
    position: relative;
}
.hero-text{
    position: absolute;
    z-index: 10;
    color: white;
    top: 40%;
    left: 8%;
    max-width: 50%;
}
/* toggle */
.navbar-toggler{
    border:none !important;
     border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
    padding: 0;
}

.custom-toggler{
    width:28px;
    height:2px;
    background:#fff;
    display:block;
    position:relative;
    transition:.3s ease;
}

/* top line */
.custom-toggler::before,
.custom-toggler::after{
    content:"";
    position:absolute;
    left:0;
    width:28px;
    height:2px;
    background:#fff;
    transition:.3s ease;
}

.custom-toggler::before{
    top:-8px;
}

.custom-toggler::after{
    top:8px;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
}
.hero-text p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
}
.hero-text .btn {
    padding: 12px 36px;
    border-radius: 30px;
    font-weight: 600;
    background-color: white;
    color: burlywood;
    border: none;
    transition: 0.3s ease;
    margin-top: 10px;
}
.hero-text .btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-2px);
}
/* button animation  */
.hero-text .btn::before {
     position: absolute;
    top: 0;
    left: -50%;
    width: 30%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    transform: skewX(-25deg);
    opacity: 0;
}
.hero-text .btn:hover::before {
    animation: flashMove 0.4s ease forwards;
}
.navbar-transparent .nav-link,
.navbar-transparent .navbar-brand,
.navbar-transparent .bi {
  color: #fff!important;
  cursor:pointer;
}
.nav-icon:hover{
  color: #916a50;
}

@keyframes flashMove {
    0% {
        left: -50%;
        opacity: 1;
    }
    100% {
        left: 120%;
        opacity: 0;
    }
}
/* hero-text animation */
.carousel-item.active .hero-text h1 {
    animation: fadeUp 0.8s ease forwards;
}

.carousel-item.active .hero-text p {
    animation: fadeUp 0.8s ease forwards 0.2s;
}

.carousel-item.active .hero-text .btn {
    animation: fadeUp 0.8s ease forwards 0.4s;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* story  */
.story-section{
background:#fff;
padding:10px 0!important;
}

.story-text{
font-size:45px !important;
font-weight:400;
line-height:1.3;
color:#111;
}

.light-text{
color:#c9c2bb;
font-weight:300;
}

.story-btn{
background:#b88c71 !important;
color:#fff !important;
padding:10px 20px !important;
border-radius:50px !important;
font-weight:600 !important;
}

.story-btn:hover{
background:#a67c63;
color:#fff;
}



/* feature css */
.promo-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 450px;
}
/* Image setup */
.promo-card img {
    position: absolute;
  width: 100% !important;
  height: 100%!important;
  object-fit: cover;
  display: block;
  inset: 0;
}
/* Text overlay */
.promo-card .promo-text {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
.promo-card .promo-text h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #fff;
}
.promo-card .promo-text p {
  font-size: 15px;
  color: #fff;
}

/* zoom in img */
.promo-card img {
  transition: transform 0.7s ease;
  transform: scale(1);
}

.promo-card:hover img {
  transform: scale(1.15);
}


.feature-btn{

color:#fff !important;
padding:6px 20px !important;
border-radius:50px !important;
font-weight:600 !important;
text-decoration: none;
border: 1px solid white;
margin-top: 15px;
}

.feature-btn:hover{
background:#fff;
color:#b88c71 !important;
}

/* moving text */
.scroll-banner {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.scroll-text {
  white-space: nowrap;
}

.scroll-content {
  display: inline-block;
  animation: scroll-left 20s linear infinite;
  color: #ddd;
  font-size: 48px;
  font-weight: 500;
}

/* animation for the  scrolling */
@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}


/* product */



/* Cards */
.products-tabs .nav-link {
  color: #a5a5a5 !important;
  font-size: 21px;
}

.products-tabs .nav-link.active {
  color: #000 !important;
  border-bottom: 2px solid #000;
}
.product-card {
  position: relative;
  border-radius: 16px;
  padding: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}
.product-card img {
  width: 170% !important;
  height: 260px;   
  object-fit: contain;
  display: block;
  transition: transform 0.5s ease;
}
.product-card:hover img {
  transform: scale(1.1);
}

/* “New” badge */
.new-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #b58a72;
  color: black;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 10;
}
.product-card:hover .new-badge {
  opacity: 0;
  transform: translateY(-15px);
}
.product-text h4{
    font-size: 15px!important;
}

/* Prices */
.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 6px;
}
.product-text{
    position: relative;
    z-index: 10;
}

/* Add-to-cart button */
.add-cart-btn {
    position: relative ;
  background: #b58a72;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 3px 20px;
  border: none;
  transition: background 0.3s ease;
   z-index: 10;
}
.add-cart-btn:hover {
  background: #8b6348;
}


.offer-section {
  background-color: #fff;
}

/* Each card */
.offer-box {
  
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.05); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.offer-box:hover {
  transform: translateY(-3px);
  /* box-shadow: 0 8px 18px rgba(0,0,0,0.08); */

}

/* Text area */
.offer-content {
   position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  
  color: white;
  padding: 28px;
 
}

/* Images */
.offer-img {
  width: 100%;
  height: 256px !important;
  border-radius: 0 16px 16px 0;
  object-fit: cover;
  
}
/* animation  */


/* Accent color */
.text-pink {
  color: #a67c63;
}

/* product*/

.product-hero{
  background:url('./img/product/「Cosmetics\,\ Skin\ Care\ Products」の写真素材\ _\ 12\,773\,932件の無料イラスト画像\ \(1\)\(1\).png') center/cover no-repeat;
  min-height:55vh;
  position:relative;
  display:flex;
  align-items: center;
  text-align:center;
}


.product-hero::before{
  content:'';
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
}

.hero-overlay{
  position:relative;
  z-index:2;
  color:#fff;
  margin-left: 85px;
  margin-top: 80px;
}

.hero-overlay a{
  color:#fff;
  text-decoration:none;
  font-size: 20px;
}

/* NEWSLETTER */
.newsletter-section{
  position:relative;
  margin-top:60px;
}

.newsletter-img{
  width:100%;
  height:350px;
  object-fit:cover;
}

.newsletter-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
  width: 98.2%;
  margin-left: 10px;
}

.newsletter-overlay h2{
  font-size: 35px !important;
  font-weight:700;
}

.newsletter-form{
  margin-top:20px;
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  justify-content:center;
}

.newsletter-form input{
  width:320px;
  max-width:100%;
  padding:12px 15px;
  border:none;
  border-radius:10px;
}

.newsletter-form button{
  border:none;
  background:rgb(156, 0, 0);
  color:#fff;
  padding:6px 15px !important;
  border-radius:15px;
  font-weight:600;
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
  .offer-img {
    max-width: 60%;
  }
}

@media (max-width: 767.98px) {
  .offer-box {
    text-align: center;
  }
  .offer-img {
    max-width: 80%;
    border-radius: 0;
  }
}

/* faq */
.faq-section{
  background:#f5ecef;
  padding:100px 0;
  overflow:hidden;
}

/* Left heading */
.faq-heading{
  height:100%;
  display:flex;
  align-items:center;
}

.faq-heading h2{
  font-size:45px !important;
  font-weight:700;
  line-height:1.1 !important;
  color:#222 !important;
  margin:0;
}

/* Accordion Card */
.custom-faq .accordion-item{
  background:#fff;
  border:none;
  border-radius:22px !important;
}


.custom-faq .accordion-button{
  background:#fff;
  box-shadow:none;
  border:none;
  padding:25px 34px;
  font-size:20px;
  font-weight:500;
  color:#222;
  position:relative;
}


.custom-faq .accordion-button::after{
  display:none;
}


.custom-faq .accordion-button::before{
  content:"+";
  position:absolute;
  right:28px;
  top:50%;
  transform:translateY(-50%);
  width:42px;
  height:42px;
  border-radius:8px;
  background:#a67c63;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:32px;
  font-weight:500;
}


.custom-faq .accordion-button:not(.collapsed)::before{
  content:"−";
  background:#a67c63;
  color:#fff;
}


.custom-faq .accordion-button:not(.collapsed){
  background:#fff;
  color:#222;
}

/* body */
.custom-faq .accordion-body{
  padding:0 34px 28px;
  font-size:18px;
  line-height:1.8;
  color:#666;
  max-width:92%;
}





/* value section */
.text-pink {
  color: #a67c6d;
  text-align: center;
}

.value-box {
  transition: all 0.3s ease;
  background-color: #fff;
 
}
.value-box h5 {
  font-size: 20px;        
 
}

.value-box:hover {
  background-color: #fff3f8;
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.spin-icon {
  cursor: pointer;
  animation: spin360 0.6s ease linear;
}


@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* footer */
/* Footer */
.footer-section{
  background:#fff;
}

.footer-logo{
  font-size:45px !important;
  letter-spacing:1px;
  color:#222;
}

.pink-text{
  color:#ff2a8b;
}

.footer-title{
  font-size:18px;
  font-weight:700;
  margin-bottom:24px;
  color:#222;
}

.footer-links li{
  margin-bottom:14px;
  color:#333;
  font-size:15px;
  line-height:1.2;
}

.footer-links a{
  text-decoration:none;
  color:#333;
  transition:0.3s;
}

.footer-links a:hover{
  color:#8b6348;
}

.footer-bottom{
  border-top:1px solid #a67c63;
}

.footer-bottom a{
  text-decoration:none;
  color:#555;
  font-size:20px;
}

.footer-bottom a:hover{
  color:#8b6348;
}

/*  */

/* About css */
.about-hero {
  background: url('./img/about-img/medium-shot-women-posing-together.jpg') center/cover no-repeat;
  min-height: 56vh;
  display: flex;
align-items: flex-start;
 
  position: relative;
  color: #fff;
  text-align: center;
  padding: 60px 15px;
}

.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.about-hero .content {
  position: relative;
  z-index: 2;
  top: 70px;
  left: 50px;
}

.about-hero h1 {
  font-size: 40px;
  
}

.about-hero p {
  font-size: 17px;
  opacity: 0.9;
}


/* radient journey */
.about-img {
  max-width: 200%;
  height: 75vh !important;
}

h2 {
  font-size: 25px !important;
}

.text-muted {
  line-height: 1.7;
}

/* VALUE CARDS */
    .value-card{
      transition:0.3s ease;
      height:100%;
    }

    .value-card:hover{
      transform:translateY(-5px);
    }

    /* cta */
    .CTA-img{
        height: 65vh !important;
    }
    .cta-text {
        max-width: 55%;
    }
    .cta-text h2{
        font-size: 31px !important;
    }
    .cta-text a{
        background-color: #a67c63;
        padding: 14px 32px !important;
        border: none;
        cursor: pointer;
        margin-top: 14px;
    }
    .cta-text a:hover{
        background-color: #916a50;
    }


/* contact */
/* HERO */
.contact-hero{
  background:url('./img/contact-img/Modern\ Cosmetic\ Packaging\ Mockup\ Set_\ Minimal\ Brand\ Display\ \(PSD\ &\ JPG\)\ \(1\).webp') center/cover no-repeat;
  min-height:55vh;
  display:flex;

  position:relative;
  color:#fff;
  text-align:center;
}

.contact-hero::before{
  content:'';
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
}

.hero-content{
  position:relative;
  z-index:2;
  top: 150px;
  left: 90px;
}

.contact-hero a{
  color:#fff;
  text-decoration:none;
  font-size: 18px;
}

/* CONTACT BOX */
.contact-box{
  position:relative;
  overflow:hidden;
  border-radius:20px;
  margin-top: 30px;
}
.form-input input{
    padding: 15px;
}

.contact-box img{
  width:100%;
  height:490px;
  object-fit:cover;
}

.contact-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
  color:#fff;
  padding:30px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  top: -40px !important;
}
.contact-overlay h3{
    font-size: 25px;
}

.contact-item{
  margin-top:20px;
  display: flex;
  gap: 30px;
}

.contact-item i{
  font-size:32px;
  margin-bottom:10px;
}
.contact-btn{
    padding: 20px 25px!important;
    background-color: #a67c63;
    border: none;
    border-radius: 10px;
    color: #fff;
}
.contact-btn:hover{
    background-color: #916a50;
}

/* INSTAGRAM */
.insta-box{
  position:relative;
  overflow:hidden;
  border-radius:15px;
}

.insta-box img{
  width:100%;
  height:250px;
  object-fit:cover;
  transition:0.4s ease;
}

.insta-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  justify-content:center;
  opacity:0;
  transition:0.4s ease;
}

.insta-overlay i{
  font-size:35px;
  color:#fff;
}

.insta-box:hover img{
  transform:scale(1.1);
}

.insta-box:hover .insta-overlay{
  opacity:1;
}

/* RESPONSIVE */
@media (max-width:768px){
  .contact-box img{
    height:400px;
  }
}

/* responssiveness */

@media (max-width: 992px){

  .carousel-item{
      height:80vh;
      position:relative;
      overflow:hidden;
  }

  .carousel-item img{
      height:90vh;
      position:relative;
      z-index:0;
  }

  .carousel-item::before{
      z-index:1;
  }

  .hero-text{
      position:absolute;
      top:50%;
      left:6%;
      transform:translateY(-50%);
      z-index:2;
      max-width:420px;
  }

  .hero-text h1{
      font-size:38px;
  }
  .hero-text .btn{
      padding:11px 28px;
      font-size:15px;
      border-radius:28px;
      z-index:2;
  }

  /* faq */
  .faq-section{
    padding:70px 0;
  }

  .faq-heading{
    justify-content:center;
    text-align:center;
    margin-bottom:30px;
  }

  .faq-heading h2{
    font-size:40px !important;
    line-height:1.15;
    
  }

  .custom-faq .accordion-button{
    font-size:20px !important;
    padding:24px 26px;
  }

  .custom-faq .accordion-button::before{
    width:38px;
    height:38px;
    right:22px;
    font-size:28px;
  }

  .custom-faq .accordion-body{
    font: size 16px !important;;
    padding:0 26px 24px;
    max-width:100%;
  }
}

@media (max-width: 768px){

  .carousel-item{
      height:70vh;
      position:relative;
      overflow:hidden;
  }

  .carousel-item img{
      height:85vh;
      width:100%;
      object-fit:cover;
      position:relative;
      z-index:0;
  }

  .carousel-item::before{
    position: absolute;
    content: "";
    inset: 0;
      z-index:1;
      background:linear-gradient(
          to right,
          rgba(0,0,0,.55),
          rgba(0,0,0,.18)
      );
  }

  .hero-text{
      position:absolute;
      top:50%;
      left:5%;
      right:5%;
      transform:translateY(-50%);
      z-index:2;
      max-width:90%;
  }

  .hero-text h1{
      font-size:33px;
  }

  .hero-text p{
      font-size:21px
      !important;
  }
   .hero-text .btn{
      padding:16px 36px;
      font-size:18px;
      border-radius:25px;
   }

   .story-section .story-text{
  font-size: 30px;
  margin-top: 10px;
   }
   /* faq */
   .faq-section{
    padding:60px 0;
  }

  .faq-heading h2{
    font-size:40px;
  }

  .custom-faq .accordion-item{
    border-radius:18px !important;
  }

  .custom-faq .accordion-button{
    font-size:18px;
    line-height:1.5;
    padding:22px 55px 22px 20px;
  }

  .custom-faq .accordion-button::before{
    width:34px;
    height:34px;
    right:15px;
    font-size:24px;
  }

  .custom-faq .accordion-body{
    font-size:16px;
    line-height:1.7;
    padding:0 20px 22px;
  }

  
}

@media (max-width: 480px){

  .carousel-item{
      height:65vh;
  }

  .carousel-item img{
      height:80vh;
  }

  .hero-text{
      top:48%;
      z-index:2;
      max-width:90%;
  }

  .hero-text h1{
      font-size:24px;
  }
   .hero-text .btn{
      padding:9px 22px;
      font-size:13px;
      border-radius: 22px;
   }
   .custom-toggler{
    font-size: 10px !important;
   }
   /* faq */
    .faq-section{
    padding:50px 0;
  }

  .faq-heading h2{
    font-size:32px;
  }

  .custom-faq .accordion-button{
    font-size:16px;
    padding:18px 48px 18px 16px;
  }

  .custom-faq .accordion-button::before{
    width:30px;
    height:30px;
    font-size:20px;
    right:12px;
  }

  .custom-faq .accordion-body{
    font-size:15px;
    padding:0 16px 18px;
  }
}

/* faq */
/*  */